
html
  head
    title Next movers
    block scripts
    block style
  body
     nav#navbar
        ul
            div#logo
                img(src="/static/images/logo.png", alt="Reload please")
                |   Next Move
            li #[a(href = "/") Home] 
            li #[a(href = "/") About]
            li #[a(href = "/") Services]
            li #[a(href = "/") Class Info]
            li #[a(href = "/contact") Contact us]

block content
footer#footer 
    | Copyright 2022 Next move dance academy | All rights reserved 